{% extends 'base.html' %}

{% block top_content %}

<h1 class="product-headers">BMED360 - In vivo imaging and physiological modelling</h1>

<h2 class="product-headers">Aim and Content</h2>
Obtain theoretical and practical knowledge on functional and
quantitative in vivo imaging in man and animal using magnetic
resonance imaging (MRI) and computer-based image analysis. The focus
is on brain imaging (perfusion, diffusion, permeability mapping) and
structural and functional connectivity, but also examples from
functional kidney imaging and (image-based) systems biology will be
presented. A major objective is also to give insight about the
importance of mathematical models and computations in analysis and
understanding of complex physiological processes, and the need of
cross-disciplinary collaborations.


{% endblock %}

{% block main_content %}
  
{% endblock %}

