{% extends 'base.html' %}

{% block top_content %}

<h1 class="product-headers">Resources</h1>

<a href="https://www.coursera.org/course/humanphysio">Coursera - Introductory Human Physiology</a>
<br>

<a href="http://www.khanacademy.org/math/linear-algebra">Khan Academy - Linear Algebra</a>
<br>

<a href="http://www.khanacademy.org/math/calculus">Khan Academy - Calculus</a>
<br>

<a href="https://www.coursera.org/course/calc1">Coursera - Calculus One</a>
<br>

<a href="https://www.edx.org/courses/MITx/6.00x/2012_Fall/about">edX - 6.00x: Introduction to Computer Science and Programming</a>
<br>

<a href="https://www.coursera.org/course/compdata">Coursera - Computing for Data Analysis</a>
<br>


{% endblock %}

{% block main_content %}
  
{% endblock %}

